<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DiscordKey" value="EnterYourKeyHere" />
    <add key="CommandPrefix" value="!g-" />
    <add key="SaveTimerInterval" value="60" />
    <add key="TimeTickInterval" value="60" />
    <add key="EventTickInterval" value="65" />
  </appSettings>
</configuration>